
 
 
  #container {
      display: grid;
      background-color: grey;   
  }

  .gridColumns {
    border: 1px solid black;
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
    margin-right: 6px;
  }
