
 
 
  #container {
      display: grid;
      grid-gap: 2px;

  }

  .gridRows {
    border: 1px solid grey;
    min-width: 10px;
    min-height: 10px;
    display: grid;
    margin: auto;
    padding: 1em;
  }
  
  .gridColumns {
    border: 1px solid grey;
    min-width: 10px;
    min-height: 10px;
    display: grid;
    margin: auto;
    padding: 1em;
  }

  /* display: inline-block */