
 :root {
   --gridRow: 1;
   --gridColumn: 1;
 }

h1, h3, h4, .form {
  text-align: center;
  font-family: monospace;
}

h4{
  margin: 8px;
  padding-bottom: 15px;
}

#container {
  display: grid;
  margin: auto;
  width:fit-content;
  grid-gap: 2px;
  grid-template-columns: repeat(var(--gridColumn), 1fr);
  grid-template-rows: repeat(var(--gridRow), 1fr);
  max-width: 960px;
  max-height: 960px;
}
 
.gridCells {
  border: 1px solid black;
  padding: 0px;
  text-align: center;
  justify-items: center;
  min-width: 15px;
  min-height: 15px;
  transition: 0s 1.5s;
}

.gridCells:hover {
  background-color: coral;
  transition: 0s;
}

.form {
  display: grid;
  max-width: 200px;
  margin: auto;
}

#height {
  margin: 5px;
}

#width {
  margin-bottom: 2px;
}

#submit {
  font-family: monospace;
  margin: auto; 
  margin-bottom: 5px;;
  max-width: fit-content;
  text-align: center;
}